/* Start Font */
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
/* End Font */

/* Start Body */
body {
    /*Property*/
    background-color:  white;
    /* background-image: url("../image/online-consulting.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: #1498D5(0, 92%, 50%);
}

.bg-red {
    background-color: white (250, 72, 41);
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}

/* End Container */

/*Start Logo*/
.logo {
    text-align: left;
}
/*End Logo*/

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: #1498D5;
    text-decoration: none;
}
a:hover,
a:active {
    color: white;
    text-decoration: underline;
}
/* End Anchor / Hyperlink*/

/* Start Menu Primer*/
.menu-primer-logo {
    text-align: left;
    float: left;
    width: 35%;
}
.menu-primer-index {
    margin: -0.4px;
     
    float: right;
    width: 65%;
}

.menu-primer ul {
    background-color: #1498D5;
    border-radius: 4px;
    box-shadow:
        5px 10px gray;
}
.menu-primer ul li {
    border-right: 1px solid white;
    display: inline-block;
    margin: -0.4px;
}
.menu-primer a {
    color: white;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: white;
    color: #1498D5;
    text-decoration: none;
}
.menu-primer .active {
    background-color: white;
    color: #1498D5;
    text-decoration: none;
}
/* .menu-primer-index ul {
    background-color: none!important;
    color:#1498D5!important;
} */
.menu-primer-index ul {
    background-color: white;
    border-radius: 4px;
    box-shadow: none!important;
}
.menu-primer-index ul li {
    border-right: 1px solid white;
    display: inline-block;
    margin: -0.4px;
}
.menu-primer-index a {
    color: #1498D5;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer-index a:hover {
    background-color: white;
    color: #1498D5;
    text-decoration: none;
}
.menu-primer-index .active {
    background-color: white;
    color: #1498D5;
    text-decoration: none;
}
.menu-primer-one {
    text-align: center;
    float: left;
    width: 50%;
}
.menu-primer-two {
    text-align: center;
    float: right;
    width: 50%;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.snip1564 {
  background-color: #ffffff;
  border: none;
  border-bottom: 6px solid #029ebe;
  border-top: 6px solid #029ebe;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  letter-spacing: 3px;
  line-height: 34px;
  margin: 15px 45px;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
}

.snip1564:before,
.snip1564:after {
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  border-radius: 50%;
  top: -6px;
  content: "";
  height: 46px;
  position: absolute;
  width: 46px;
  border: 6px solid #ddd;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.snip1564:before {
  right: -23px;
  border-left-color: #029ebe;
  border-bottom-color: #029ebe;
}

.snip1564:after {
  left: -23px;
  border-right-color: #029ebe;
  border-top-color: #029ebe;
}

.snip1564:hover,
.snip1564.hover {
  background-color: #ffffff;
}

.snip1564:hover:before,
.snip1564.hover:before,
.snip1564:hover:after,
.snip1564.hover:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
/* End Menu Primer*/

/* Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
    color: #1498D5;
}
h2 {
    font-size: 24px;
    color: #1498D5;
    font-weight: bold;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading*/

/* Start Jumbotron*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.snip1585 {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 10px;
  max-width: 31%;
  min-width: 31%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


.jumbotron {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron*/

/* Start Main*/
.main-home-one {
    float: left;
    width: 49.5%
}
.main-home-two {
    float: right;
    width: 49.5%
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 200px;
}
.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}
/* End Main*/

/* Start Sidebar*/
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%;
}
/* End Sidebar*/

/* Start Box*/
.box-heading {
    background-color: none;
    border: 1px solid none;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box-isi {
    background-color: white (170, 168, 168);
    border: 1px solid;
    border-top: 0;
    margin: 0;
    padding: 0;
}
/* End Box*/

/* Start Testimonial*/
.testimonial p {
    border-right: 4px solid #1498D5;
    margin-left: 30px;
    padding-right: 20px;
    text-align: right;
}
.testimonial-cite {
    text-align: right;
}
/* End Testimonial*/

/* Start Layanan Table*/
.layanan-table {
    border: 1px solid #1498D5;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.layanan-table th {
    background-color: #e5f4fc;
}
.layanan-table td {
    text-align: center;
}
/* End Layanan Table*/

/* Start Form*/
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder {
    color: #888888;
    font-weight: 300;
}
input[type="submit"],
.button {
    background-color: #e5f4fc;
    background-image: linear-gradient;
    border: 1px solid black;
    border-radius: 4px;
    color: black !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.contact-form div {
    margin: 20px 0;
}
/* End Form*/

/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: #1498D5;
    color: black;
    border-bottom: white;
    border-top: 1px solid white;
    overflow: auto;
    padding: 10px;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: none;
}
.menu-sekunder li a,
.menu-sekunder a,
.menu-sekunder p {
    font-size: 15px;
    color: white;
}
.menu-sekunder-one, 
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder*/

/* Start Copyright*/
.copyright p {
    font-size: 15px;
}
/* End Copyright*/






